@page
@model Pharmacies.App.NotFoundModel
@{
    ViewData["Title"] = "404 Not Found";
}

<div class="search-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Not Found</h1>
</div>
