@page
@model Pharmacies.App.Pages.FAQModel
@{
    ViewData["Title"] = "FAQ";
    Layout = "_Public";
}

@section HeaderPart{
    <link rel="stylesheet" href="~/css/public/faq.css">
}

@section FAQHeader{
    <div class="faq-navbar-header">
        <div class="faq-navbar-header-img">
            <img src="~/faq-banner.jpg" />
            <div class="divider"></div>
        </div>
    </div>
}

<div class="block-section faq-block">
    <div class="heading">
        All wichtigen Begriffe erklärt
    </div>
    <div class="description">
        Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here. Text goes here.
    </div>
</div>

<div class="block-section faq-accordian">
    <div class="faq-row">
        <div class="faq-header">
            Was bedeutet GMP zertifiziert?
        </div>
        <div class="faq-content">
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden.</p>
                <p>In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene.</p>
                <h2>Subheadline goes here</h2>
                <p>Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte <strong>Cannabinoid is Δ9- Tetrahydrocannabinol (Δ9-THC).</strong></p>
                <p><strong>Cannabidiol (CBD),</strong> ein weiteres wenig psychoaktives Cannabinoid, wird wegen seiner entzündungshemmenden, anti-schizophrenischen und anti- epileptischen Eigenschaften untersucht.</p>
            </div>
            <img src="~/faq/faq1.png" />
            <div class="desc img-desc">
                <p>Die Erforschung von Cannabinoiden führte zur Entdeckung des <strong>Endocannabinoid-Systems.</strong> Körpereigene Substanzen, die ähnliche pharmakologische Eigenschaften haben, werden <strong>Endocannabinoide</strong> genannt.</p>
            </div>
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden. In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene. Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte Cannabinoid ist Δ9-Tetrahydrocannabinol (Δ9-THC).</p>
            </div>
        </div>
    </div>
    <div class="faq-row">
        <div class="faq-header">
            Was ist die zulässige Toleranz der Wirkstoffe?
        </div>
        <div class="faq-content">
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden.</p>
                <p>In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene.</p>
                <h2>Subheadline goes here</h2>
                <p>Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte <strong>Cannabinoid is Δ9- Tetrahydrocannabinol (Δ9-THC).</strong></p>
                <p><strong>Cannabidiol (CBD),</strong> ein weiteres wenig psychoaktives Cannabinoid, wird wegen seiner entzündungshemmenden, anti-schizophrenischen und anti- epileptischen Eigenschaften untersucht.</p>
            </div>
            <img src="~/faq/faq1.png" />
            <div class="desc img-desc">
                <p>Die Erforschung von Cannabinoiden führte zur Entdeckung des <strong>Endocannabinoid-Systems.</strong> Körpereigene Substanzen, die ähnliche pharmakologische Eigenschaften haben, werden <strong>Endocannabinoide</strong> genannt.</p>
            </div>
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden. In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene. Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte Cannabinoid ist Δ9-Tetrahydrocannabinol (Δ9-THC).</p>
            </div>
        </div>
    </div>
    <div class="faq-row">
        <div class="faq-header">
            Wie verläuft der Cannabis Analyse Prozess?
        </div>
        <div class="faq-content">
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden.</p>
                <p>In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene.</p>
                <h2>Subheadline goes here</h2>
                <p>Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte <strong>Cannabinoid is Δ9- Tetrahydrocannabinol (Δ9-THC).</strong></p>
                <p><strong>Cannabidiol (CBD),</strong> ein weiteres wenig psychoaktives Cannabinoid, wird wegen seiner entzündungshemmenden, anti-schizophrenischen und anti- epileptischen Eigenschaften untersucht.</p>
            </div>
            <img src="~/faq/faq1.png" />
            <div class="desc img-desc">
                <p>Die Erforschung von Cannabinoiden führte zur Entdeckung des <strong>Endocannabinoid-Systems.</strong> Körpereigene Substanzen, die ähnliche pharmakologische Eigenschaften haben, werden <strong>Endocannabinoide</strong> genannt.</p>
            </div>
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden. In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene. Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte Cannabinoid ist Δ9-Tetrahydrocannabinol (Δ9-THC).</p>
            </div>
        </div>
    </div>
    <div class="faq-row">
        <div class="faq-header">
            Was sind Cannabinoide?
        </div>
        <div class="faq-content">
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden.</p>
                <p>In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene.</p>
                <h2>Subheadline goes here</h2>
                <p>Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte <strong>Cannabinoid is Δ9- Tetrahydrocannabinol (Δ9-THC).</strong></p>
                <p><strong>Cannabidiol (CBD),</strong> ein weiteres wenig psychoaktives Cannabinoid, wird wegen seiner entzündungshemmenden, anti-schizophrenischen und anti- epileptischen Eigenschaften untersucht.</p>
            </div>
            <img src="~/faq/faq1.png" />
            <div class="desc img-desc">
                <p>Die Erforschung von Cannabinoiden führte zur Entdeckung des <strong>Endocannabinoid-Systems.</strong> Körpereigene Substanzen, die ähnliche pharmakologische Eigenschaften haben, werden <strong>Endocannabinoide</strong> genannt.</p>
            </div>
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden. In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene. Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte Cannabinoid ist Δ9-Tetrahydrocannabinol (Δ9-THC).</p>
            </div>
        </div>
    </div>
    <div class="faq-row">
        <div class="faq-header">
            Welche Schwermetalle werden getestet?
        </div>
        <div class="faq-content">
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden.</p>
                <p>In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene.</p>
                <h2>Subheadline goes here</h2>
                <p>Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte <strong>Cannabinoid is Δ9- Tetrahydrocannabinol (Δ9-THC).</strong></p>
                <p><strong>Cannabidiol (CBD),</strong> ein weiteres wenig psychoaktives Cannabinoid, wird wegen seiner entzündungshemmenden, anti-schizophrenischen und anti- epileptischen Eigenschaften untersucht.</p>
            </div>
            <img src="~/faq/faq1.png" />
            <div class="desc img-desc">
                <p>Die Erforschung von Cannabinoiden führte zur Entdeckung des <strong>Endocannabinoid-Systems.</strong> Körpereigene Substanzen, die ähnliche pharmakologische Eigenschaften haben, werden <strong>Endocannabinoide</strong> genannt.</p>
            </div>
            <div class="desc">
                <p>Cannabinoide sind Transformations-produkte die hauptsächlich in der Hanfpflanze gefunden werden. In der Cannabis Pflanze sind drei verschiedene Wirkstoffgruppen enthalten. Neben Phytocannabinoiden gibt es auch noch Flavonoide und Terpene. Der Forschung sind mindestens 113 pflanzliche Cannabinoide bekannt. Das am meisten untersuchte Cannabinoid ist Δ9-Tetrahydrocannabinol (Δ9-THC).</p>
            </div>
        </div>
    </div>
</div>

@section FooterPart{
    <script>
        $(function () {
            $(".faq-accordian .faq-row .faq-header").on("click", function (e) {
                $(this).parent(".faq-row").toggleClass("active");
                $(this).parent(".faq-row").find(".faq-content").slideToggle();
            });
        });
    </script>
}

