.navbar-container .navbar {
    z-index: 2;
}

.faq-navbar-header {
    margin-top: -116px;
    z-index: 1;
}

.faq-navbar-header-img {
    position: relative;
    overflow: hidden;
}

.faq-navbar-header .faq-navbar-header-img img {
    width: 100%;
}

.faq-navbar-header .faq-navbar-header-img .divider {
    background: #fff;
    transform: rotate(-3deg);
    position: absolute;
    height: 60px;
    bottom: -30px;
    left: -100px;
    width: calc(100% + 200px);
    box-shadow: 0px 0px 5px 2px #979797;
}

.faq-block {
    display: flex;
    flex-direction: row;
    padding-top: 0px !important;
}

    .faq-block .heading {
        font-size: 52px;
        line-height: 1.25;
        max-width: 560px;
        padding-right: 50px;
    }

    .faq-block .description {
        font-size: 33px;
        line-height: 1.25;
        flex: 1;
    }

.faq-accordian {
    max-width: 920px;
    margin: 0px auto;
}

.faq-row {
}

    .faq-row .faq-header {
        border: 2px solid #979797;
        border-radius: 10px;
        padding: 40px 25px;
        margin-bottom: 50px;
        cursor: pointer;
        font-size: 38px;
        line-height: 1.2;
        box-shadow: 0px 2px 5px 1px #979797;
    }

    .faq-row .faq-content {
        font-size: 27px;
        display: none;
    }

        .faq-row .faq-content .desc {
            padding: 0px 50px;
            margin-bottom: 50px;
        }

        .faq-row .faq-content .img-desc {
            font-size: 22px;
        }

        .faq-row .faq-content p {
            margin-bottom: 25px;
            line-height: 1.3;
        }

        .faq-row .faq-content strong {
        }

        .faq-row .faq-content img {
            width: 100%;
            margin: 20px auto;
            display: block;
        }

        .faq-row .faq-content h1 {
            font-weight: bold;
            font-size: 38px;
        }

        .faq-row .faq-content h2 {
            font-weight: bold;
            font-size: 34px;
        }

        .faq-row .faq-content h3 {
            font-weight: bold;
            font-size: 30px;
        }

    .faq-row.active .faq-header {
        background: #F0F0E6;
    }

@media screen and (max-width:1200px) {
    .faq-block .heading {
        max-width: 480px;
    }
}

@media screen and (max-width:1024px) {
    .faq-block {
        flex-direction: column;
    }

        .faq-block .heading {
            max-width: 100%;
            padding-right: 0px;
            margin-bottom: 15px;
        }
}

@media screen and (max-width:767px) {
    .faq-navbar-header {
        margin-top: -86px;
    }

    .faq-block .heading {
        font-size: 36px;
    }

    .faq-block .description {
        font-size: 22px;
    }

    .faq-row .faq-header {
        padding: 15px 10px;
        margin-bottom: 25px;
        font-size: 24px;
    }

    .faq-row .faq-content {
        font-size: 20px;
    }

        .faq-row .faq-content .desc {
            padding: 0px 15px;
            margin-bottom: 30px;
        }

        .faq-row .faq-content .img-desc {
            font-size: 16px;
        }

        .faq-row .faq-content p {
            margin-bottom: 15px;
        }

        .faq-row .faq-content img {
            margin: 15px auto;
        }


        .faq-row .faq-content h1 {
            font-size: 26px;
        }

        .faq-row .faq-content h2 {
            font-size: 24px;
        }

        .faq-row .faq-content h3 {
            font-size: 22px;
        }
}
